/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
}

.top{
    
    margin-left: 150px;
}


.video-card-container {
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
 }

 .video-card {
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
 }

 .video-card-image,
 .card-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .card-video {
    position: relative;
 }

 .video-card:hover .video-card-image {
    display: none;
 }


 .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 0px;
}


.sidebar .links {
    list-style: none;
    margin-top: 110px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
    
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.sidebar:hover .links h4 {
    display: block;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 1px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}


.footer
{
    
    width: 100%;
    min-height: 350px;
    background-color: #0F1014;
}
.footer-style
{
    
    color: aliceblue;
    padding: 20px 10% 0px 10%;
    
}
div.footer-style a{
    text-decoration: none;
    color: blueviolet;
}
div.footer-style svg,a{
    
    color: mintcream;
}
.copyright
{
    color: white;
    margin: 50px 0px 20px 100px;
}
div.copyright a{
    text-decoration: none;
    color: blueviolet;
<<<<<<< HEAD:homepage.css
}
=======
}
>>>>>>> 0811689817d7ef9f9cb96289282a1dc9d35a7288:style.css
